@font-face {
    font-family: Helvetica;
    src: url(../font/HelveticaBQ-Light.otf);
  
}

body {
    font-family: Helvetica;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;

}

.navbar-brand {
    font-weight: bolder;
}